*,*:before,*:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body{
	overflow: hidden;
	height: 100%;
}
.page{
	min-width: 100%;
	min-height: 100vh;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.container{
	width: 90%;
	background-color: rgba(255,255,255,0.4);
	margin: 0 auto;
	padding: 1% 1% 1% 1%;
}
.header{
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}
.navig{
	position: relative;
	z-index: 5;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
}
	.logo{
		background-repeat:no-repeat;
		background-size: contain;
		background-position:center;
		max-height: 40px;
		height: 100%;
		width: 30%;
		max-width: 20%;
		background-image: url(../img/logo.png); 
	}
.textarea{
	width: 100%;
	max-width: 100%;
	resize: none;
	height: 400px;
	border: none;
	font-size: 30px;
	
}
.textarea:focus{
	outline: none;
	font-size: 30px;
}
::-webkit-input-placeholder{
	font-size: 30px;
	color: grey;
}
.mainpg{

	padding-top: 60px;
	width: 100%;
	height: 100%;
	min-height: 96.5vh;
}
.blocks{ 
	width: 100%;
	min-height: 400px;
	padding: 1% 1% 1% 1%;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
	/*blocks*/
	.input{
		max-height: 400px;
		width: 47%;
		display: block;
		background-color: white;
	}
	.key{
		display: block;
		width: 5%;
		background-color: white;
	}
	.btn{
		background-image: url(../img/background.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position:center;
		border: none;
		min-width:100%;
		min-height:40px;
		height: 100%;

	}
	.output{
		width: 47%;
		display: block;
		background-color: white;
		height: 400px;
	}
		.ans{
			font-size: 30px;
		}
		
@media screen and (max-width : 415px) and (max-device-height: 824px) {
	.container{
		width: 100%;
		background-color: rgba(255,255,255,0.7);
	}
	.blocks{
		flex-direction: column;
	}
	
}
@media screen and (min-width : 321px) and (max-height: 400px) {
	.container{
		width: 95%;
	}
	.ans{
		font-size: 10px;
	}
	.input{
		max-height: 200px;
	}
	.blocks{
		min-height:200px;
	}
	.textarea{
		height: 200px;
	}
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	.container{
		width: 100%;
		background-color: rgba(255,255,255,0.7);
	}
	.blocks{
		flex-direction: column;
	}
			
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.container{
		width: 95%;
	}
}